.body {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -200px;
    height: 300px;
    width: 400px;
    background-color: #b77986;
    border: 5px solid #533b4c;
    border-radius: 7px;
    box-sizing: border-box;
}

.createChat {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.header {
    background-color: #63465a;
    width: 100%;
    display: flex;
    place-items: center;
    justify-content: center;
    height: 32px;
    padding-bottom: 5px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 2px solid #533b4c;
}

.block {
    width: 100%;
    height: 105px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.blockUp {
    text-align: center;
    /*margin-bottom: 10px;*/
    border-radius: 5px;
    border: 2px solid #533b4c;
    background-color: #63465a;
    width: 250px;
    height: 25px;
    font-size: 18px;
    color: white;
}

.blockInput {
    height: 25px;
    width: 200px;
    border: 2px solid #63465a;
    border-top: none;
    background-color: #e7a295;
}

.smallBlock {
    width: 100%;
    height: 35px;
    display: flex;
    flex-flow: row nowrap;
}

.choiceOne {
    width: 50%;
    height: 100%;
    display: flex;
    border: 2px solid #533b4c;
    justify-content: center;
    align-items: center;
    background-color: #63465a;
    color: white;
}

.wickedOne {
    width: 50%;
    height: 100%;
    display: flex;
    border: 2px solid #533b4c;
    justify-content: center;
    align-items: center;
    background-color: #e7a295;
}

.createButton {
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: #e7a295;
    border-top: 4px solid #533b4c;
    font-size: 20px;
    font-weight: 600;
}