.user {
    height: 45px;
    border-bottom: 2px solid white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name {
    color: white;
    padding-top: 2px;
    padding-left: 7px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tag {
    padding-left: 7px;
    color: #AFAFAF;
}