.body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /*height: 100%;*/
    display: flex;
    padding-top: 20px;
    align-items: flex-start;

    flex-wrap: wrap;
    justify-content: space-evenly;
}